html {
  font-size: 10px;
}

body {
  background-color: #f7f7f7;
  font-family: "Dosis", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
}

.card {
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.cta {
  border: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0 45px;
  line-height: 50px;
  border-radius: 25px;
  font-size: 1.3rem;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.cta:hover,
.cta:focus {
  background-color: #000;
}

/* -- main-card -- */

.main-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-width: 700px;
  max-width: 900px;
  height: 450px;
  display: flex;
}

.main-card section:first-child {
  flex-basis: 55%;
}

.main-card section:last-child {
  flex-basis: 45%;
}

/* -- photo card section -- */

.main-card section:first-child img {
  object-fit: cover;
  filter: grayscale(0.8);
  min-height: 100%;
}

/* -- content card section -- */

.main-card section:last-child {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 35px;
}

.main-card section:last-child h1 {
  font-size: 3.5rem;
  font-weight: 250;
}

.main-card section:last-child h2 {
  font-size: 2.1rem;
  font-weight: 200;
}

.main-card section:last-child .intro {
  font-size: 1.5rem;
  text-align: left;
  margin: auto;
}

.main-card section:last-child .links {
  list-style: none;
  margin: 20px 0 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-card section:last-child .links a {
  --icon-size: 30px;

  text-decoration: none;
  user-select: none;
  color: transparent;
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: var(--icon-size);
  filter: grayscale(0.5);
  transition: filter 0.2s ease-in;
}

.main-card section:last-child .links a:hover {
  filter: grayscale(0);
}

.main-card section:last-child .links a#link-linkedin {
  background-image: url(../assets/icons/linkedin.png);
}

.main-card section:last-child .links a#link-github {
  background-image: url(../assets/icons/github.png);
}

.main-card section:last-child .links a#link-hackerrank {
  background-image: url(../assets/icons/hackerrank.png);
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }

  /* -- main-card -- */

  .main-card {
    position: static;
    transform: translate(0, 0);
    width: auto;
    min-width: auto;
    max-width: auto;
    height: 100vh;
    flex-direction: column;
  }

  .main-card section:first-child {
    flex-basis: 40%;
  }

  .main-card section:last-child {
    flex-basis: 60%;
  }

  /* -- content card section -- */

  .main-card section:last-child {
    padding-bottom: 70px;
  }

  .main-card section:last-child .links {
    margin: 40px 0 0;
  }

  .main-card section:last-child .links a {
    --icon-size: 40px;
  }
}
