@import './../../scss/mixins';
@import './../../scss/variables';

.navigation {
  background-color: transparent;
  color: inherit;
  box-shadow: none;
  margin-bottom: 30px;

  @include media-query-for(tablet) {
    margin-bottom: 30px;
  }

  ul {
    display: flex;
    justify-content: center;

    li:not(:last-child) {
      a::after {
        content: '/';
        margin: 0 20px;
        color: $color-grey;
      }
    }

    a {
      color: inherit;
      transition: all 0.2s ease-out;
      color: $color-grey;
      text-transform: capitalize;
      padding: 0;

      &.active {
        color: $color-black;

        &:hover {
          cursor: default;
        }
      }

      &:hover {
        background-color: transparent;
      }

      &:not(.active):hover {
        color: $color-blue;
      }
    }
  }
}
