@import './../../scss/mixins';

.content {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 125px 1fr;
  grid-row-gap: 10px;

  @include media-query-for(tablet) {
    margin: 10px auto;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 30px;
  }
}
