@import './scss/mixins.scss';

html,
body {
  font-family: Livvic, Roboto, sans-serif;
  line-height: 1.6;
  word-spacing: 2px;
  margin: 0;
  font-size: 14.5px;

  @include media-query-for(tablet) {
    font-size: 15px;
  }

  @include media-query-for(desktop) {
    font-size: 16px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
